* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arista Pro Alternate Bold';
  src: url(./assets/Arista-Pro-Alternate-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

.catcall-font {
  font-family: 'Arista Pro Alternate Bold', sans-serif;
}

.normal-font {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}

.cancel-button {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 5px;
}

.submit-button {
  font-size: 16px;
  background-color: rgb(245, 37, 89);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 5px;
}

.submit-button:hover {
  cursor: pointer;
}

.header-footer {
  background-color: rgba(29, 113, 183);
  height: 65px;
}

/*for Dashboard component*/

.dashboard-container {
  min-height: 85vh;
}