* {
  box-sizing: border-box;
}

/* body {
  font-family: 'Roboto', sans-serif;
}*/

@font-face {
  font-family: 'Arista Pro Alternate Bold';
  /* font-weight: 900; */
  src: url(./assets/Arista-Pro-Alternate-Bold.ttf) format('truetype');
}

body {
  font-family: 'Arista Pro Alternate Bold', sans-serif;
}

.catcall-font {
  font-family: 'Arista Pro Alternate Bold', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.normal-font {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}

.header-footer {
  background-color: rgba(29, 113, 183);
  height: 65px;
}

/*for Dashboard component*/

.dashboard-container {
  min-height: 85vh;
}