.landing {
  display: flex;
  flex-direction: column;
}

.landing-cover {
  min-height: 450px;
  background: url('https://res.cloudinary.com/serendatapy/image/upload/v1611397206/catcalls/sam-haddad-StgZKNLVeJg-unsplash-crop_figayu.jpg') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-height: 650px) {
  .landing-cover {
    height: 95vh;
  }
}

.header {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  height: 100%;
  padding: 65px 20px 20px 20px;
}

.header-title {
  font-size: 7rem;
  text-shadow: 3px 3px black;
}

@media screen and (max-width: 400px) {
  .header-title {
    font-size: 6rem;
  }
}

.header-buttons {
  display: flex;
  align-items: flex-start;
}

.header-buttons a {
  text-decoration: none;
  margin-right: auto;
}

.header-buttons a p{
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  border-top-color: rgb(118,118,118);
  border-left-color: rgb(118,118,118);
  border-style: outset;
  background-color: rgb(245, 37, 89);
  color: white;
  padding: 10px 15px;
  font-size: 1.2rem;
}

@media screen and (max-width: 350px) {
.header-buttons a {
  width: 100%;
    text-align: center;
  }
}

.header-disclaimer {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 300;
}



.landing-why {
  padding: 20px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.why-title {
  font-size: 7rem;
  color: rgb(29, 113, 183);
}

.why-content {
  padding: 50px 0 0 50px;
  max-width: 500px;
}

@media screen and (max-width: 800px) {
  .landing-why {
    max-width: 500px;
  }
  .why-content {
    padding: 0;
  }
}

.landing-community {
  background-color: rgb(245, 37, 89);
}

.community-content {
  padding: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.community-title {
  font-size: 4rem;
  color: white;
}

.community-content button {
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
}

.about-content button {
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
}

button p {
  margin: 0 0;
  font-size: 1.2rem;
}

.landing-about {
  padding: 60px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
}

.about-title {
  font-size: 5rem;
  color: rgb(29, 113, 183);
  max-width:  500px;
}

.about-content {
  padding: 50px 50px 0 0;
  max-width: 500px;
}

.landing-widget-container {
  max-width:100%;
  width: 550px;
  height: 550px;
}

@media screen and (max-width: 1100px) {
  .landing-about {
    max-width: 500px;
  }
  .about-title {
    font-size: 4.5rem;
  }
  .about-content {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .about-title {
    font-size: 3rem;
  }
  .landing-widget-container {
    height: 325px;
  }
  .community-content,.landing-about {
    padding: 30px;
  }
}

@media screen and (max-width: 350px) {
  .community-content,.landing-about {
    padding: 30px;
  }

  .about-title {
    font-size: 2.5rem;
  }
  .landing-widget-container {
    height: 250px;
  }

}

.help-link {
  color: white;
}
