.popup-content {
  max-width: 200px;
  max-height: 250px;
}

.popup-title {
  color: rgba(29, 113, 183);
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 113, 183);
}

.popup-quote {
  font-size: 1rem;
  padding-top: 3px;
}

.popup-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.popup-img {
  width: 50%;
}