.map-container {
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  background-color: rgba(29, 113, 183);
}

.popup-content {
  max-width: 200px;
  max-height: 250px;
}

.popup-title {
  color: rgba(29, 113, 183);
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 113, 183);
}

.popup-date {
  min-width: 100px;
  text-align: end;
}

.popup-quote {
  font-size: 1rem;
  padding-top: 3px;
}

.popup-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 10px;
}

.popup-context {
  font-style: italic;
}

.popup-img {
  width: 50px;
}

.popup-icon {
  margin-right: 2px;
  color: rgb(245, 37, 89);
}