.report-form {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.form-segment {
  display: flex;
  flex-direction: column;
}

.location-title {
  margin-top: 15px;
}

.mapboxgl-map {
  width: 100% !important;
}

.checkbox {
  margin-top: 15px;
}

.form-segment input[type=checkbox] {
  width:20px;
  height:20px;
  margin: 0 5px;
}

.error-message {
  color: red;
}

.help-button {
  color: black;
}

.cancel-button {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 5px;
}

.submit-button {
  font-size: 18px;
  background-color: rgb(245, 37, 89);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 5px;
}

.submit-button:hover {
  cursor: pointer;
}